/* ===============TAB=============== */

@media screen and (min-width: 768px) and (max-width:1000px) {
    .login-section {
        width: 60%;
    }


    /* =======DASHBOARD========= */

    .assignment-status-table {
        width: 100%;
    }

    .assignment-status-sec {
        width: 65%;
    }

    .nav-tabs .nav-link {
        width: 170px;
        padding: 12px 0 12px 12px;
    }

    .first-sec {
        width: 30%;
    }

    .second-sec {
        width: 70%;
        margin-right: 10px;
    }

    /* ================ASSIGNMENT============ */

    .dataTables_wrapper {
        overflow-y: scroll;
    }

    .assignment-sidebar-sec-text {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .assignment-sidebar-sec-text span {
        font-size: 11px;
    }

    .assignment-sidebar-sec {
        flex-direction: column;
        padding: 0;
    }

    /* =======TEACHER======== */

    .teacher-section {
        width: 50%;
    }

    .about-teacher {
        margin: 10px 45px 0 45px;
    }

    /* =============ASSIGNMENT DETAILS=========== */

    .button-section {
        width: 100%;
        justify-content: flex-start;
        padding-left: 0;
    }

    .sidebar-top-text {
        padding: 0 15px;
    }

    .sidebar-top-text h2 {
        font-size: 10px;
    }

    .assignment-time-table-section {
        width: 70%;
    }

    .mode-section {
        width: 10%;
    }

    .button-section button {
        width: 22%;
        margin: 0 10px;
    }

    /* ================SCHOOL DETAIL=========== */

    .school-detail-right-sec {
        flex-direction: column;
        padding: 15px;
    }

    .school-details-first-sec {
        width: 100%;
    }

    .school-details-second-sec {
        width: 100%;
    }

    .school-heading-text {
        width: 35%;
    }

    .school-name-text {
        width: 55%;
    }

    .school-detail-sec h2 {
        font-size: 15px;
        margin: 15px 10px 50px 10px;
    }

    .school-details-contact-second-sec {
        width: 100%;
    }

    .details-heading {
        padding: 7px 0;
    }

    /* ===============SCHOOL ASSIGNMENT============== */

    .school-assignment-sidebar-sec {
        width: 30%;
    }

    .school-assignment-sidebar-sec-text {
        width: 50%;
    }

    /* ==============SCHOOL FINANCE=============== */

    .school-finance-right-sec {
        flex-direction: column;
    }

    /* ===============SCHOOL ASSIGNMENT============== */

    .school-assignment-sidebar-sec {
        width: 50%;
    }

    .school-assignment-sidebar-sec-text {
        width: 50%;
    }

    /* ==============SCHOOL FINANCE=============== */

    .school-finance-right-sec {
        flex-direction: column;
    }

    .school-finance-section {
        width: 100%;
    }

    .school-finance-sec {
        flex-direction: column;
    }

    .school-finance-contact-heading-text {
        width: 100%;
    }

    .paid-check {
        width: 100%;
    }

    .payment-method-type {
        width: 100%;
        margin: 0;
    }

    .school-finance-contact-heading {
        width: 100%;
    }

    .paid-check label {
        font-size: 15px;
    }

    .payment-method-type label {
        font-size: 15px;
    }

    .school-finance-contact-icon-sec {
        justify-content: flex-start;
        padding: 5px 0;
    }

    .billing-details-section {
        width: 100%;
        padding-left: 0;
    }

    .invoice-timesheet-checkbox label {
        font-size: 14px;
    }

    /* ==============SCHOOL TEACHER LIST=============== */

    .teacher-list-section {
        width: 100%;
    }

    .teacher-list-right-sec {
        width: 100%;
    }

    .preferred-list-sec {
        width: 14%;
    }

    /* =============ASSIGNMENT CONTACT============= */

    .assignment-contact-history-heading-section {
        width: 100%;
    }

    .assignment-contact-page-table {
        width: 100%;
    }

    /* ==============ASSIGNMENT CANDIDATE=========== */

    .assignment-candidate-billing-details-section {
        width: 100%;
        padding-left: 0;
    }

    .assignment-candidate-paid-check {
        justify-content: flex-start;
        width: 100%;
    }

    .assignment-candidate-section {
        width: 100%;
    }

    .assignment-candidate-heading-text {
        width: 100%;
    }

    .assignment-candidate-sec {
        flex-direction: column;
    }

    .assignment-candidate-payment-method-type {
        width: 100%;
        margin-left: 0;
    }

    /* ==========ASSIGNMENT SCHOOL============ */

    .assignment-school-detail-right-sec {
        flex-direction: column;
    }

    .assignment-school-details-first-sec {
        width: 100%;
    }

    .assignment-school-details-contact-second-sec {
        width: 100%;
    }

    /* =============ASSIGNMENT FINANCE============== */

    .assignment-finance-section {
        width: 100%;
    }


    /* ===========PROFILE============ */

    .profile-signin-btn {
        margin-top: 10px;
    }

    /* ============FINANCE============= */
    .about-finance {
        width: 25%;
        margin: 10px 0 0 0;
    }


    /* ==============MODAL============== */

    .calendar-modal-section {
        max-width: 80%;
    }


    /* ==============TEACHER HEALTH============== */

    .teacher-health-first-sec {
        width: 100%;
    }

    .teacher-health-second-sec {
        width: 100%;
    }

    .teacher-prefernce-heading-text {
        width: 50%;
    }

    .teacher-prefernce-name-text {
        width: 50%;
    }

    /* ==============TEACHER REFERENCE=============== */

    .references-bottom-sec {
        width: 50%;
        justify-content: center;
    }

    /* ================TEACHER CALENDAR=============== */

    .sidebar-mode-check i {
        font-size: 20px;
    }

    .teacher-calendar-slider {
        padding: 0 0 0 15px;
    }

    /* ===============TEACHER DETAIL================ */

    .user-img-sec {
        padding: 10px;
    }

    .user-img-sec img {
        width: 90px;
        height: 90px;
    }

    .sidebar-pages {
        margin-left: 5px;
        align-items: flex-start;
    }

    /* ================TEACHER DOCUMENTS=============== */

    .teacher-document-table-sec {
        width: 100%;
    }

    /* =================TEACHER PAYROLL============== */

    .payroll-bottom-text {
        padding: 0 15px 35px 15px;
    }

    /* ================FINANCE TIMESHEET=========== */

    .timesheet-top-section {
        width: 100%;
        margin-bottom: 15px;
    }

    /* .timesheet-top-input-sec {
        width: 40%;
    } */

    .timesheet-top-input-sec input {
        width: 50%;
    }

    .timesheet-process-btn {
        width: 50%;
    }

    .finance-timesheet-right-sec {
        width: 100%;
        padding: 15px 0;
    }

    .finance-timesheet-second-table-section {
        width: 100%;
        padding: 0;
    }
    .finance-timesheet-top-total-section {
        flex-direction: column;
    }

    .finance-timesheet-total-section {
        width: 100%;
    }
    
    .finance-timesheet-right-inner-section {
        margin-left: 0;
    }

    /* =============FINANCE INVOICES=============== */

    .finance-invoice-right-sec {
        flex-direction: column;
    }

    .finance-invoice-contact-first-sec {
        width: 100%;
    }

    .finance-invoice-contact-second-sec {
        width: 100%;
        margin-top: 20px;
    }

    /* ================FINANCE PAYROLL================ */

    .finance-payroll-contact-first-sec {
        width: 100%;
    }

    /* ==============FINANCE REMITTANCE================= */

    .finance-remittance-contact-first-sec {
        width: 100%;
    }

    .finance-remittance-payment-method {
        width: 47%;
    }

    .finance-remittance-top-sec {
        width: 47%;
    }

    .finance-remittance-contact-second-sec {
        width: 100%;
        padding-right: 0;
    }

    /* ===============MANAGEMENT USER=============== */

    .management-user-first-sec {
        width: 80%;
    }

    .management-user-second-sec {
        width: 80%;
    }

    .management-user-img-sec {
        padding: 10px 0;
    }

    .management-user-img-sec i {
        top: 13%;
        right: 40%;
    }

    .management-user-img-sec img {
        width: 100px;
        height: 100px;
    }

    /* ===============MANAGEMENT MAILSHOT=============== */

    .management-mailshot-heading-section {
        width: 100%;
    }

    .management-mailshot-all-section {
        flex-direction: column;
    }

    .management-mailshot-left-sec {
        width: 100%;
    }

    .management-mailshot-right-sec {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }

    .management-mailshot-table-section {
        margin-top: 10px;
    }
}





@media screen and (max-width: 480px) {
    .login-section {
        width: 100%;
    }

    /* ===========DASHBOARD========== */

    /* .dashboard-tab-section {
        height: 30%;
    } */

    .nav-tabs .nav-link {
        width: 170px;
        padding: 12px 0 12px 12px;
    }

    .sidebar-sec {
        justify-content: center;
    }

    .sidebar-data h2 {
        margin-left: 0 !important;
    }

    .sidebar-data2 h2 {
        margin-left: 0 !important;
    }

    .sidebar-data3 h2 {
        margin-left: 0 !important;
    }

    .sidebar-sec-text {
        width: 27%;
    }

    .assignment-col {
        padding-left: 0;
    }

    .assignment-status-sec {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .assignment-status-table {
        width: 100%;
    }

    .first-sec {
        width: 100%;
    }

    .second-sec {
        width: 100%;
        padding-right: 13px;
    }

    .total-sec {
        display: flex;
        flex-direction: column;
    }

    .dataTables_wrapper {
        overflow-x: auto;
    }

    /* =============ASSIGNMENT============= */

    .assignment-sidebar-sec {
        flex-direction: column;
        width: 50%;
    }

    .assignment-left-sidebar-section {
        flex-wrap: wrap;
    }

    .assignment-sidebar-sec-text span {
        margin-top: 10px;
    }

    .assignment-sidebar-sec-text {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }

    /* =============ASSIGNMENT DETAILS=========== */

    .button-section {
        width: 100%;
        justify-content: center;
        padding: 0 10px;
    }

    .button-section button {
        font-size: 11px;
        margin: 0 2.5px;
    }

    .assignment-detail-right-sec {
        flex-direction: column;
    }

    .filter-section {
        width: 100%;
    }

    .assignment-detail-form-group {
        width: 93%;
    }

    .filter-input-sec-group {
        padding: 0;
        margin: 0;
    }

    .filter-input-sec-group2 {
        padding: 0;
    }

    .assignment-detail-form-control {
        width: 93%;
    }

    .assignment-time-table-section {
        width: 100%;
        padding: 0 13px;
    }

    .date-section {
        width: 100%;
    }

    .total-days-section {
        flex-direction: column;
    }

    .days-slider-sec {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .status-section {
        width: 100%;
    }

    .second-filter-sec {
        padding-right: 0;
        margin: 0;
    }

    .mode-section {
        width: 100%;
        padding: 0 15px;
    }

    .mode-text-sec {
        width: 70%;
        flex-direction: row;
        justify-content: space-between;
    }

    .assignment-notes-sec {
        width: 100%;
    }

    .label-heading {
        padding-right: 0;
    }

    .assignment-detail-user-img-sec {
        display: flex;
        justify-content: center;
    }

    .sidebar-top-text h2 {
        font-size: 20px;
    }

    .sidebar-top-text span {
        font-size: 15px;
    }

    .sidebar-pages span {
        font-size: 15px;
    }

    .sidebar-user-number span {
        font-size: 15px;
    }

    .assignment-id-text-sec span {
        font-size: 15px;
    }

    .assignment-detail-sidebar-sec {
        height: auto;
    }

    .user-img-sec img {
        width: 80px;
        height: 80px;
    }

    /* =================FIND SCHOOL============== */

    .school-search-section {
        width: 100%;
        padding: 15px;
    }

    /* ================SCHOOL DETAIL=========== */

    .school-detail-right-sec {
        flex-direction: column;
        padding: 15px;
    }

    .school-details-first-sec {
        width: 100%;
    }

    .school-details-second-sec {
        width: 100%;
    }

    .school-heading-text {
        width: 35%;
    }

    .school-name-text {
        width: 55%;
    }

    .school-detail-sec h2 {
        font-size: 20px;
    }

    .school-detail-sec i {
        font-size: 40px;
    }

    .school-detail-sec span {
        font-size: 15px;
    }

    .school-details-contact-second-sec {
        width: 100%;
    }

    .details-heading {
        padding: 7px 0;
    }


    /* ============SCHOOL CONTACT=========== */

    .topbar-Section i {
        font-size: 12px;
    }

    .topbar-text {
        font-size: 10px;
    }

    .contact-history-heading-section {
        width: 100%;
    }

    /* ===============SCHOOL ASSIGNMENT============== */

    .school-assignment-sidebar-sec {
        width: 50%;
    }

    .school-assignment-sidebar-sec-text {
        width: 50%;
    }

    /* ==============SCHOOL FINANCE=============== */

    .school-finance-right-sec {
        flex-direction: column;
    }

    .school-finance-section {
        width: 100%;
    }

    .school-finance-sec {
        flex-direction: column;
    }

    .school-finance-contact-heading-text {
        width: 100%;
    }

    .paid-check {
        width: 100%;
    }

    .payment-method-type {
        width: 100%;
        margin: 0;
    }

    .school-finance-contact-heading {
        width: 100%;
    }

    .paid-check label {
        font-size: 15px;
    }

    .payment-method-type label {
        font-size: 15px;
    }

    .school-finance-contact-icon-sec {
        justify-content: space-between;
        padding: 5px 0;
    }

    .billing-details-section {
        width: 100%;
        padding-left: 0;
    }

    .invoice-timesheet-checkbox label {
        font-size: 14px;
    }

    /* ==============SCHOOL TEACHER LIST=============== */

    .page-icon-sec {
        width: 10%;
    }

    .teacher-list-section {
        width: 100%;
    }

    .teacher-list-right-sec {
        flex-direction: column;
        width: 100%;
    }

    .teacher-list-page-table {
        width: 100%;
    }

    .preferred-list-sec {
        width: 25%;
    }

    /* =============TEACHER============== */

    .teacher-left-sec {
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .teacher-all-section {
        flex-direction: column;
    }

    .teacher-section {
        width: 100%;
    }

    .teacher-page-table-section {
        width: 100%;
    }

    /* =============FINANCE============= */

    .about-finance {
        margin: 10px 0 0 0;
        width: 50%;
    }

    /* ===============FINANCE TIMESHEET=============== */

    .topbar-finance-list-page {
        padding: 5px;
    }

    .topbar-finance-list-page i {
        font-size: 15px;
        padding: 0;
    }

    .finance-topbar-text {
        font-size: 11px;
    }

    .bills-icon-section i {
        font-size: 15px;
    }

    .timesheet-top-section {
        width: 100%;
        /* padding: 15px; */
    }

    .timesheet-top-input-sec {
        width: 55%;
    }

    .timesheet-process-btn {
        width: 45%;
    }

    .finance-timesheet-section {
        width: 100%;
        margin-bottom: 15px;
    }

    .finance-timesheet-left-sec {
        flex-direction: column;
        margin-top: 15px;
    }

    .finance-timesheet-contact-first-sec {
        width: 100%;
    }

    .finance-timesheet-contact-second-sec {
        width: 100%;
    }

    .finance-timesheet-table-section {
        margin-top: 20px;
    }

    .finance-timesheet-second-table-section {
        width: 100%;
        /* padding: 0 15px; */
    }

    .finance-timesheet-right-sec {
        width: 100%;
    }

    .finance-timesheet-right-inner-section {
        margin-left: 0;
    }

    .finance-timesheet-top-total-section {
        flex-direction: column;
    }

    .finance-timesheet-total-section {
        width: 100%;
    }

    /* =============ASSIGNMENT CONTACT============= */

    .assignment-contact-history-heading-section {
        width: 100%;
    }

    .assignment-contact-page-table {
        width: 100%;
    }

    .assignment-sidebar-text {
        width: 76%;
    }

    /* ==============ASSIGNMENT CANDIDATE=========== */

    .assignment-candidate-section {
        width: 100%;
    }

    .assignment-candidate-heading-text {
        width: 100%;
    }

    .assignment-candidate-sec {
        flex-direction: column;
    }

    .assignment-candidate-paid-check {
        width: 100%;
        justify-content: flex-start;
    }

    .assignment-candidate-payment-method-type {
        width: 100%;
        margin-left: 0;
    }

    .assignment-candidate-billing-details-section {
        width: 100%;
        padding-left: 0;
    }

    /* ==========ASSIGNMENT SCHOOL============ */

    .assignment-school-detail-right-sec {
        flex-direction: column;
    }

    .assignment-school-details-first-sec {
        width: 100%;
    }

    .assignment-school-details-contact-second-sec {
        width: 100%;
    }

    .assignment-school-detail-right-sec {
        width: 100%;
        padding: 13px;

    }

    /* =============ASSIGNMENT FINANCE============== */

    .assignment-finance-section {
        width: 100%;
    }

    /* ==============TEACHER HEALTH============== */

    .teacher-health-first-sec {
        width: 100%;
    }

    .teacher-health-second-sec {
        width: 100%;
    }

    .teacher-prefernce-heading-text {
        width: 50%;
    }

    .teacher-prefernce-name-text {
        width: 50%;
    }

    /* ==============TEACHER REFERENCE=============== */

    .references-bottom-sec {
        width: 50%;
        justify-content: center;
    }


    /* =============PROFILE=========== */

    .profile-form {
        width: 100%;
    }

    .profile-signin-btn {
        margin-top: 10px;
    }

    /* =============MODAL============ */

    .calendar-modal-header button {
        width: 10%;
    }

    .calendar-modal-section {
        max-width: 100%;
    }

    .modal-side-field {
        margin-bottom: 5px;
    }

    /* ===============TEACHER CALENDAR============= */

    .teacher-calendar-sec {
        flex-direction: column;
    }

    .teacher-calendar-sidebar-section {
        display: flex;
        justify-content: space-between;
        height: auto;
        padding: 20px;
        width: 100%;
    }

    .sidebar-mode-check {
        margin-bottom: 0;
    }

    .teacher-calendar-slider {
        overflow-x: scroll;
        margin-top: 10px;
        padding: 0;
    }

    .teacher-calendar-table-section {
        width: 500px;
    }

    .teacher-calendar-days-field {
        width: auto;
        padding: 5px;
    }

    .teacher-calendar-days-field2 {
        width: auto;
        padding: 5px;
    }

    .teacher-calendar-days-field3 {
        width: auto;
        padding: 5px;
    }

    /* ================TEACHER DOCUMENTS============ */

    .teacher-document-heading-text {
        width: 80%;
    }

    .teacher-document-name-text {
        width: 20%;
    }

    .teacher-document-table-sec {
        width: 100%;
    }

    .teacher-document-second-heading-text {
        width: 45%;
    }

    .teacher-document-second-name-text {
        width: 5%;
    }

    .teacher-document-third-name-text {
        padding-left: 15px;
    }

    /* =================TEACHER PAYROLL============== */

    .payroll-bottom-text {
        padding: 0 15px 35px 15px;
    }

    /* =============FINANCE INVOICES=============== */

    .finance-invoice-right-sec {
        flex-direction: column;
        overflow-x: scroll;
    }

    .finance-invoice-contact-first-sec {
        width: 650px;
    }

    .finance-invoice-contact-second-sec {
        width: 650px;
        margin-top: 20px;
    }

    .invoice-top-input-sec label {
        font-size: 11px;
        padding-top: 0;
    }

    .invoice-top-first-input-sec label {
        font-size: 11px;
        padding-top: 0;
    }

    .invoice-top-input-sec {
        align-items: center;
    }

    .invoice-top-first-input-sec {
        align-items: center;
    }

    /* =================FINANCE PAYROLL=============== */

    .finance-payroll-contact-first-sec {
        width: 100%;
        margin-top: 10px;
    }

    .finance-payroll-page-table {
        width: 100%;
        margin-right: 0;
    }

    .finance-payroll-page-second-table {
        width: 100%;
        margin-left: 0;
    }

    .finance-payroll-table-section {
        flex-direction: column;
    }

    /* ================FINANCE REMITTANCE============= */

    .finance-remittance-contact-first-sec {
        width: 100%;
    }

    .finance-remittance-payment-method {
        width: 50%;
    }

    .finance-remittance-top-sec {
        width: 50%;
    }

    .finance-invoice-table-section {
        overflow-x: scroll;
        margin-top: 10px;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .finance-invoice-table-section::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .finance-invoice-table-section {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .finance-remittance-contact-second-sec {
        width: 100%;
        margin-top: 25px;
        padding-right: 0;
    }

    /* ===============MANAGEMENT USER=============== */

    .management-user-img-sec i {
        top: 51%;
        right: 45%;
        padding: 2%;
    }

    .management-user-first-sec {
        width: 100%;
    }

    .management-user-second-sec {
        width: 100%;
    }

    .management-user-btn-section {
        justify-content: center;
    }

        /* ===============MANAGEMENT MAILSHOT=============== */

        .management-mailshot-heading-section {
            width: 100%;
        }
    
        .management-mailshot-all-section {
            flex-direction: column;
        }
    
        .management-mailshot-left-sec {
            width: 100%;
        }
    
        .management-mailshot-right-sec {
            width: 100%;
            padding-left: 0;
            margin-top: 20px;
        }
    
        .management-mailshot-table-section {
            margin-top: 10px;
        }
        
        .management-mailshot-input-section {
            flex-direction: column;
        }

        .management-mailshot-input-sec {
            width: 76%;
        }

        .management-mailshot-section {
            padding-right: 0;
        }

        .management-mailshot-btn-section {
            flex-direction: column;
        }

        .management-mailshot-btn {
            margin-top: 10px;
        }
}

@media (max-width: 375px) {
    .second-sec {
        width: 100%;
        padding-right: 13px;
        padding-left: 8px;
    }

    .dashboard-tab-content {
        padding-left: 0;
    }

    .dashboard-tab-content h2 {
        margin-left: 13px;
    }

    /* ===========PROFILE=========== */

    .profile-form {
        width: 100%;
    }
}