/* ======GLOBAL====== */

.row {
    width: 100%;
}

h1,h2,h3,h4,h5,h6,a,span,p,button,label,th,td,tr,input,option,select,textarea,b,strong,div,i {
    font-family: 'poppins';
    /* letter-spacing: 0.6px; */
}

.login-section {
    background-color: #40a0ed9e;
    padding: 25px;
    width: 33%;
}

.login-section h2 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 15px;
}

.login-form-sec label {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

/* .select-field {
    border-radius: 0;
    font-size: 14px;
} */

.password-field {
    padding: 15px 12px;
    border-radius: 0;
    font-size: 12px;
}

.login-button-sec {
    display: flex;
    justify-content: space-between;
}

.login-button-sec button {
    background-color: #ffc20e;
    color: #000;
    border: none;
    border-radius: 3px;
    width: 25%;
    padding: 5px;
    font-size: 14px;
}

.login-button-sec button:hover {
    background-color: #ffc20e;
    color: #fff;
}

.login-button-sec button:focus {
    background-color: #ffc20e;
}

.login-button-sec button:active {
    background-color: #ffc20e !important;
    border-color: #ffc20e !important;
}

.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-page-img {
    display: flex;
    justify-content: center;
}

.login-page-img img {
    width: 65px;
    height: 65px;
    object-fit: cover;
}

.form-group.has-error label {
    color: #dd4b39
}

.form-group.has-error .form-control {
    border-color: #dd4b39;
    box-shadow: none
}

.header-active {
    background-color: #1f81cf;
    color: #fff;
    border-radius: 0;
}

/* ===============DASHBOARD============ */

/* =====TAB==== */

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    border: none;
    margin-bottom: 0;
    color: #fff;
    padding: 12px 0 12px 12px;
    font-size: 12px;
    width: 162.8px;
}

.tab-section-text {
    font-size: 15px;
    font-weight: 400;
}

.nav-item {
    border: 1px solid #00000029;
}

.dashboard-tab-section {
    background-color: #40a0ed;
}

.nav-tabs .nav-link.active {
    background-color: #1f81cf;
    color: #fff;
    border-radius: 0;
}

.nav-item i::before {
    font-size: 16px;
    margin-right: 10px;
    color: #3e3e3e;
}

.dashboard-tab-content {
    margin-top: 16px;
    padding: 0 13px;
}

.dashboard-tab-content h2 {
    font-size: 24px;
    color: #afabab;
    font-weight: 400;
}

.date-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 0;
}

.date-text {
    display: flex;
    align-items: center;
}

.date-sec span {
    font-size: 12px;
    color: #afabab;
}

.date-text h2 {
    font-size: 12px;
    color: #3e3e3e;
    font-weight: 500;
    margin: 5px 22px;
}

.date-text i::before {
    font-size: 30px;
    color: #3e3e3e;
}

/* ========HEXAGON========= */

.hexagon {
    position: relative;
    width: 65px;
    height: 38px;
    /* background-color: #64C7CC; */
    margin: 25.85px 0;
    border-left: solid 2px #0b85f4;
    border-right: solid 2px #0b85f4;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 47px;
    height: 44px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 6.8249px;
}

.hexagon:before {
    top: -22.1751px;
    border-top: solid 3.1421px #0b85f4;
    border-right: solid 3.1421px #0b85f4;
}

.hexagon:after {
    bottom: -21.1751px;
    border-bottom: solid 3.1421px #0b85f4;
    border-left: solid 3.1421px #0b85f4;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.sidebar-sec {
    display: flex;
    align-items: center;
    padding: 0 22px 0 0;
    margin: 7.5px 0;
    /* width: 20%; */
}

.sidebar-data {
    border: 1px solid #0b85f4;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-data h2 {
    font-size: 18px;
    font-weight: 500;
    color: #0b85f4;
    text-align: center;
    margin: 0;
}

.sidebar-sec-text {
    width: 56%;
    margin-left: 13px;
}

.sidebar-sec-text span {
    font-size: 12px;
    font-weight: 400;
    color: #afabab;
}

.sidebar-data2 {
    border: 1px solid #ff8200;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-data2 h2 {
    font-size: 18px;
    font-weight: 500;
    color: #ff8200;
    text-align: center;
    margin: 0;
}

.sidebar-data3 {
    border: 1px solid #f43779;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-data3 h2 {
    font-size: 18px;
    font-weight: 500;
    color: #f43779;
    text-align: center;
    margin: 0;
}


.hexagon2 {
    border-color: #ff8200;
}

.hexagon2::after {
    border-color: #ff8200;
}

.hexagon2::before {
    border-color: #ff8200;
}

.hexagon2 h2 {
    color: #ff8200;
}

.hexagon3 {
    border-color: #f43779;
}

.hexagon3::after {
    border-color: #f43779;
}

.hexagon3::before {
    border-color: #f43779;
}

.hexagon3 h2 {
    color: #f43779;
}

.price-sec {
    text-align: center;
}

.price-sec span {
    font-size: 12px;
    font-weight: 400;
    color: #afabab;
}

.price-sec h2 {
    font-size: 17px;
    font-weight: bold;
    color: #2cdac8;
    margin: 3px 0;
}

.left-sidebar-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.assignment-status-sec {
    width: 36%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.assignment-status-sec h2 {
    font-size: 12px;
    font-weight: bold;
    color: #afabab;
    margin: 0 0 15px 0;
}

.assignment-status-sec span {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: #afabab;
}

/* ========TABLE====== */

.assignment-status-table {
    width: 75%;
}

.table-heading {
    outline: 1px solid #afabab;
}

.table-heading th {
    border-bottom: 0 !important;
    border-top: 0 !important;
    font-size: 13px;
    color: #3c3c3c;
    font-weight: 400;
    padding: 0 0 10px 0;
    width: auto !important;

}

.table-data td {
    border-top: 0 !important;
    border-right: 1px solid #dee2e6;
    font-size: 12px;
    color: #3e3e3e;
    font-weight: 400;
    padding: 6px 10px;
}

.table-data td:last-child {
    border-right: 0;
}

.table-data {
    padding: 10px 0;
}

.table-data:hover td {

    background-color: #000;
    color: #fff;
}

.table-body-sec {
    outline: 1px solid #afabab;
}

.total-sec {
    display: flex;
    justify-content: space-between;
}

.first-sec {
    width: 18%;
}

.second-sec {
    width: 81%;
}



/* ===========TAB DROPDOWN======= */

.nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #1f81cf;
    border-color: #dee2e6;
    border-radius: 0;
}

.dropdown-menu.show {
    top: 4px !important;
    border-radius: 5px;
}


/* ===============ASSIGNMENT PAGE=========== */

.dataTables_filter input {
    border: 1px solid #afabab;
    padding: 2px 10px;
    font-size: 14px;
}

.assignment-page-table {
    width: 100%;
}

.assignment-tab-content {
    margin: 16px 0;
    padding: 0 13px;
}

.assignment-section-col {
    width: 100%;
}

.assignment-page-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 10px;
}

.assignment-page-sec h2 {
    font-size: 24px;
    color: #afabab;
    font-weight: 400;
    margin-right: 25px;
}

.assignment-first-sec {
    width: 100%;
}

.assignment-sidebar-data {
    border: 1px solid #0b85f4;
    border-radius: 100%;
    width: 67px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assignment-sidebar-data h2 {
    font-size: 18px;
    font-weight: 500;
    color: #0b85f4;
    text-align: center;
    margin: 0;
}

.assignment-sidebar-data2 {
    border: 1px solid #ff8200;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assignment-sidebar-data2 h2 {
    font-size: 18px;
    font-weight: 500;
    color: #ff8200;
    text-align: center;
    margin: 0;
}

.assignment-sidebar-data3 {
    border: 1px solid #f43779;
    border-radius: 100%;
    width: 67px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assignment-sidebar-data3 h2 {
    font-size: 18px;
    font-weight: 500;
    color: #f43779;
    text-align: center;
    margin: 0;
}

.assignment-left-sidebar-section {
    display: flex;
}

.assignment-sidebar-data4 {
    border: 1px solid #2cdac8;
    border-radius: 100%;
    width: 66px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assignment-sidebar-data4 h2 {
    font-size: 18px;
    font-weight: 500;
    color: #2cdac8;
    text-align: center;
    margin: 0;
}

.checkbox-field {
    display: flex;
    align-items: center;
}

.assignment-page-sec label {
    font-size: 12px;
    font-weight: 400;
    color: #afabab;
    margin-bottom: 0;
    margin-right: 10px;
}


/* ==========TEACHER PAGE============ */

.teacher-page-sec {
    font-size: 24px;
    color: #afabab;
    font-weight: 400;
    margin-right: 25px;
}

.teacher-section {
    width: 45%;
}

.teacher-all-section {
    display: flex;
    justify-content: space-between;
}

.teacher-left-sec {
    display: flex;
    margin-top: 35px;
    flex-wrap: wrap;
}

.about-teacher {
    text-align: center;
    margin: 10px 50px 0 50px;
}

.about-teacher i {
    font-size: 55px;
    color: #40A0ED;
}

.about-teacher p {
    font-size: 14px;
    color: #40A0ED;
    font-weight: 500;
    margin-bottom: 0;
}

.about-teacher a:hover {
    text-decoration: none;
}

.teacher-page-table {
    width: 100%;
}

.teacher-page-table-section {
    width: 40%;
}

.table-heading i::before {
    font-size: 26px;
    color: #40a0ed;
    margin-right: 8px;
}

/* ===========FINANCE============ */

.finance-left-sec {
    display: flex;
    margin-top: 35px;
    flex-wrap: wrap;
}

.finance-section {
    width: 100%;
    margin: 16px 0;
    padding: 0 13px;
}

.about-finance {
    text-align: center;
    margin: 0px 50px;
}

.about-finance i {
    font-size: 55px;
    color: #40A0ED;
}

.about-finance p {
    font-size: 14px;
    color: #40A0ED;
    font-weight: 500;
    margin-bottom: 0;
}

.about-finance a:hover {
    text-decoration: none;
}

/* ==============PROFILE============ */

.profile-form-section {
    display: flex;
    justify-content: center;
}

.profile-form {
    width: 55%;
}

.profile-form-control {
    border-radius: 0;
}


/* =========HEADER LOGO=========== */

.header-logo {
    display: flex;
    align-items: flex-end;
}

.header-logo img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.header-logo span {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
}

.header-user-profile-sec {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 25px 0;
}

.user-name-sec {
    display: flex;
    align-items: center;
}

.user-name-sec i {
    font-size: 14px;
    color: #fff;
    margin-right: 8px;
}

.user-name-sec span {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}

.dataTables_wrapper .dataTables_paginate {
    padding: 15px 0 !important;
}

table td {
    cursor: pointer;
}

/* ============ASSIGNMENT DETAIL========== */


.assignment-detail-row {
    margin-left: 0;
}

.assignment-detail-page-section {
    padding-top: 5px;
}

.sidebar-col {
    padding-right: 0;
    background-color: #40a0ed;
}

.sidebar-top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-top-text h2 {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin: 15px 0;
}

.sidebar-top-text span {
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 13px;
}

.sidebar-top-text i {
    font-size: 30px;
    color: #3e3e3e;
    margin-bottom: 5px;
}

.sidebar-pages-section {
    border-bottom: 1px solid #00000029;
}

.sidebar-active {
    background-color: #1f81cf;
}

.sidebar-pages {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 7px 0;
}

.sidebar-pages:hover {
    text-decoration: none;
}

.sidebar-pages span {
    font-size: 12px;
    color: #fff;
}

.sidebar-pages i {
    font-size: 15px;
    color: #000;
}

.page-icon-sec {
    width: 20%;
}

.teacher-name {
    display: flex;
    justify-content: center;
}

.teacher-name span {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.user-img-sec {
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    margin: 15px 5px 0 5px;
    padding: 20px;
}

.user-img-sec img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.sidebar-user-number {
    display: flex;
    justify-content: center;
    padding: 5px 0 10px 0;
}

.sidebar-user-number span {
    font-size: 11px;
    font-weight: 500;
    color: #fff;
}

.sidebar-check-icon {
    display: flex;
    justify-content: center;
}

.sidebar-check-icon i {
    font-size: 30px;
    color: #00e86a;
    margin-bottom: 5px;
}

.assignment-id-text-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}

.assignment-id-text-sec span {
    font-size: 11px;
    color: #fff;
}

.topbar-Section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00000029;
    padding: 12px;
}

.topbar-sec {
    padding: 0 0 5px 0;
}

.topbar-Section i {
    font-size: 16px;
    color: #3e3e3e;
}

.trash-icon {
    color: #dd4b39 !important;
}

.assignment-detail-right-sec {
    display: flex;
    padding-top: 15px;
}

.filter-group-sec {
    width: 100%;
    margin: 30px 0 0 0;
}

.filter-section {
    width: 20%;
    margin-left: 15px;
    margin-bottom: 0;
}

.filter-group-sec label {
    font-size: 12px;
    color: #7f7f7f;
    margin-bottom: 8px;
}

.filter-group-sec select {
    font-size: 12px;
    padding: 0;
    height: 28px;
    border-radius: 0;
    margin-bottom: 8px;
}

.filter-input-sec label {
    font-size: 12px;
    color: #7f7f7f;
    margin-bottom: 8px;
}

.filter-input-sec input {
    font-size: 12px;
    padding: 10px;
    border-radius: 0;
    margin-bottom: 8px;
    height: 28px;
}

.assignment-time-table-section {
    width: 60%;
}

.days-slider-sec {
    width: 10%;
    display: flex;
    justify-content: center;
}

.days-slider-sec i {
    font-size: 25px;
}

.total-days-text {
    display: flex;
}

.total-days-text span {
    font-size: 12px;
    color: #3c3c3c;
    margin-bottom: 5px;
    font-weight: 500;
}

.total-days-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.total-days-text i {
    font-size: 25px;
    color: #3c3c3c;
}

.assignment-date {
    width: 10%;
}

.assignment-date2 {
    width: 10%;
    display: flex;
    justify-content: end;
}

.assignment-date-text {
    width: 90%;
    display: flex;
    justify-content: center;
}

.date-section {
    width: 80%;
}

.second-filter-sec label {
    font-size: 12px;
    color: #7f7f7f;
    margin-bottom: 8px;
}

.second-filter-sec select {
    font-size: 12px;
    padding: 0;
    height: 28px;
    border-radius: 0;
    margin-bottom: 8px;
}

.status-section {
    width: 70%;
    margin-top: 31px;
}

.status-section input {
    font-size: 12px;
    padding: 10px;
    border-radius: 0;
    margin-bottom: 8px;
    height: 28px;
}

.status-section label {
    font-size: 12px;
    color: #7f7f7f;
    margin-bottom: 8px;
}

.calendar-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-left-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    width: 13%;
}

.date-left-calendar p {
    font-size: 12px;
    font-weight: 500;
    color: #000;
}

.date-left-calendar h2 {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    padding: 3px 0;
    margin-bottom: 3px;
    width: 100%;
    text-align: center;
}

.calendar-days-field {
    background-color: #777777;
    width: 100%;
    height: 50px;
}

.calendar-left-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.calendar-days-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar-days-text {
    display: flex;
    justify-content: center;
    width: 13%;
}

.calendar-days-text p {
    font-size: 12px;
    font-weight: 500;
    color: #000;
}

.mode-section {
    width: 20%;
    padding-left: 15px;

}

.mode-section p {
    font-size: 12px;
    color: #7f7f7f;
}

.mode-text-sec {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mode-check {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 20px;
}

.mode-check i {
    font-size: 25px;
    color: #48a0dc;
}

.next-arrow-icon {
    font-size: 14px !important;
    padding: 5px;
    background-color: #48a0dc;
    color: #fff !important;
}

.assignment-notes-sec {
    width: 72%;
    padding-left: 15px;
}

.label-heading label {
    font-size: 12px;
    color: #7f7f7f;
}

.button-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    padding-left: 15px;
}

.button-section button {
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    width: 32%;
    padding: 10px;
}

.button-1 {
    background-color: #ffc20e;
    color: #fff;
    border: none;
}

.button-2 {
    background-color: #40a0ed;
    color: #fff;
    border: none;
}

.button-3 {
    background-color: #00e86a;
    border: none;
}

.button-3:hover {
    background-color: #00e86a;
}

.button-3:active {
    background-color: #00e86a !important;
    border: none;
    box-shadow: none;
}

.button-3:focus {
    background-color: #00e86a !important;
    border: none;
    box-shadow: none !important;
}


/* ==============SCHOOL SEARCH========== */

.school-search-section {
    width: 80%;
}

.school-search-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.school-search-field input {
    width: 65%;
    border-radius: 5px;
    height: 35px;
    border-color: #afabab;
}

.school-search-btn {
    font-size: 12px;
    color: #000;
    background-color: #dddddd;
    border: 1px solid #afabab;
    border-radius: 5px;
    height: 35px;
    padding: 0px;
    width: 20%;
    margin-left: 10px;
}

.school-search-btn:hover {
    color: #000;
    background-color: #dddddd;
    border: 1px solid #000;
}

.school-search-btn:active {
    color: #000 !important;
    background-color: #dddddd !important;
    border: 1px solid #000 !important;
}

.school-search-btn:focus {
    color: #000 !important;
    background-color: #dddddd !important;
    box-shadow: none !important;
}

.school-search-field i {
    font-size: 20px;
    color: #48a0dc;
    margin-left: 15px;
}

.advance-search-col {
    padding-right: 0;
}

.search-form-button button {
    font-size: 13px;
    width: 100%;
    border: 1px solid #afabab;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 0;
}

.advance-search-filter-section {
    padding: 15px;
    background-color: #ff8200d6;
    margin-top: 10px;
}

.filter-form-group {
    margin-bottom: 5px;
}

.filter-form-group label {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.filter-form-group select {
    height: 35px;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid #afabab;
}

.last-contact-text span {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.filter-radio-field {
    display: flex;
    align-items: center;
}

.filter-radio-field label {
    font-size: 12px;
    color: #fff;
}

.field-input-field input {
    height: 35px;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid #afabab;
    margin: 5px 0;
}

.radio-text {
    line-height: 23px;
}

.filter-row {
    padding: 5px 0;
}

.save-result-btn {
    width: 72%;
    background-color: #48a0dc;
    padding: 8px 0;
    border: none;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

.save-result-btn:hover {
    background-color: #70ad47;
}

.save-result-btn:active {
    background-color: #70ad47 !important;
    box-shadow: none;
}

.save-result-btn:focus {
    background-color: #70ad47 !important;
    box-shadow: none;
}

.school-search-btn-section {
    display: flex;
    margin-top: 10px;
}

.schoolSearchBtn {
    width: 28%;
    background-color: #70ad47;
    margin-right: 10px;
}

/* ===============SCHOOL DETAIL========== */

.school-detail-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.school-detail-sec h2 {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin: 15px 0 50px 0;
}

.school-detail-sec i {
    font-size: 30px;
    color: #3e3e3e;
    margin-bottom: 25px;
}

.school-detail-sec span {
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 13px;
}

.topbar-star-icon {
    color: #48a0dc !important;
}

.topbar-text {
    font-size: 13px;
    font-weight: 500;
}

.school-detail-right-sec {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 35px;
}

.school-details-first-sec {
    width: 45%;
}

.details-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #dddddd;
}

.details-heading h2 {
    font-size: 15px;
    color: #afabab;
    margin-bottom: 0;
}

.details-heading i {
    font-size: 15px;
    color: #000;
}

.school-name-section {
    display: flex;
    margin-top: 5px;
    /* justify-content: space-between;
    width: 60%; */
}

.school-name-section h2 {
    font-size: 12px;
    color: #afabab;
    margin-bottom: 0;
}

.school-name-section p {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    margin-bottom: 0;
}

.school-heading-text {
    width: 40%;
}

.school-name-text {
    width: 60%;
}

.grid-refs-sec {
    display: flex;
    /* justify-content: space-between; */
    width: 60%;
}

/* .grid-refs-text1 {
    width: 40%;
} */

.grid-refs-text1 p {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    margin-bottom: 0;
    padding-right: 10px;
}

.contact-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 7px 0;
    border-bottom: 2px solid #dddddd;
}

.contact-heading-text {
    width: 50%;
}

.contact-heading-text h2 {
    font-size: 15px;
    color: #afabab;
    margin-bottom: 0;
}

.contact-icon-sec {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.contact-icon-sec i {
    font-size: 25px;
    color: #48a0dc;
    margin-left: 20px;
}

.school-edit-icon {
    font-size: 20px !important;
    color: #000 !important;
}

.school-detail-page-table {
    width: 100%;
    /* min-height: 185px; */
    margin-top: 10px;
}

.school-detail-table-heading {
    outline: 1px solid #afabab;
}

.school-detail-table-heading th {
    border-bottom: 0 !important;
    border-top: 0 !important;
    font-size: 13px;
    color: #3c3c3c;
    font-weight: 400;
    padding: 5px;
    width: auto !important;
}

.school-detail-table-data td {
    border-top: 0 !important;
    border-right: 1px solid #dee2e6;
    font-size: 12px;
    color: #3e3e3e;
    font-weight: 400;
    padding: 5px;
}

.school-detail-table-data:hover td {
    background-color: #000;
    color: #fff;
}

.school-details-second-sec {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.school-detail-last-contact-text {
    width: 100%;
}

.school-detail-last-contact-text p {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    margin-bottom: 0;
}

/* ===============SCHOOL ASSIGNMENT============ */

.school-assignment-section {
    width: 100%;
}

.school-assignment-sec {
    padding: 35px 13px;
}

.school-assignment-right-sec {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}


.school-assignment-contact-heading-text {
    width: 100%;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 5px;
}

.school-assignment-contact-heading-text h2 {
    font-size: 18px;
    color: #afabab;
    margin-bottom: 0;
}

.school-assignment-contact-heading {
    padding: 15px 0 7px 0;
}

.school-assignment-contact-icon-sec {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.school-assignment-contact-icon-sec i {
    font-size: 25px;
    color: #48a0dc;
    margin-left: 20px;
}

.assignment-detail-sidebar-sec {
    height: 100vh;
}

.assignment-sidebar-sec {
    display: flex;
    align-items: center;
    padding: 0 22px 0 0;
    margin: 7.5px 0;
    width: 20%;
}

.school-assignment-sidebar-sec {
    display: flex;
    align-items: center;
    padding: 0 22px 0 0;
    margin: 7.5px 0;
    width: 20%;
}

/* ================SCHOOL CONTACT============ */

.contact-history-heading-section {
    display: flex;
    justify-content: space-between;
    width: 35%;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contact-history-heading-section h2 {
    font-size: 18px;
    color: #afabab;
    margin-bottom: 0;
}

.contact-history-heading-section i {
    font-size: 25px;
    color: #48a0dc;
    margin-left: 20px;
}

/* ============SCHOOL FINANCE============= */

.school-finance-sec {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 10px;
}

.school-finance-contact-heading-text {
    width: 20%;
}

.school-finance-contact-heading-text h2 {
    font-size: 18px;
    color: #afabab;
    margin-bottom: 0;
}

.paid-check {
    display: flex;
    align-items: center;
    padding: 0;
    width: 13%;
}

.paid-check label {
    font-size: 12px;
    color: #afabab;
    margin: 0 6px 0 0;
}

.payment-method-type {
    width: 30%;
    margin: 0 0 0 10px;;
}

.payment-method-type label {
    font-size: 12px;
    color: #7f7f7f;
    margin-bottom: 8px;
}

.payment-method-type select {
    font-size: 12px;
    padding: 0;
    height: 28px;
    border-radius: 0;
    margin-bottom: 8px;
}

.school-finance-contact-heading {
    width: 37%;
}

.school-finance-contact-icon-sec {
    display: flex;
    /* width: 100%; */
    justify-content: flex-end;
    align-items: center;
}

.school-finance-contact-icon-sec i {
    font-size: 25px;
    color: #48a0dc;
    margin-left: 16px;
}

.school-finance-table-section {
    width: 100%;
}

.billing-details-section {
    width: 30%;
    padding-left: 35px;
}

.billing-details-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
}

.billing-details-heading span {
    font-size: 14px;
    color: #7f7f7f;
    /* margin-bottom: 8px; */
}

.school-finance-right-sec {
    display: flex;
    padding: 35px 13px;
}

.school-finance-section {
    width: 70%;
}

.invoice-timesheet-checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.invoice-timesheet-checkbox label {
    font-size: 12px;
    color: #7f7f7f;
    margin-left: 5px;
    margin-bottom: 0;
}

.billing-address-section h2 {
    font-size: 12px;
    color: #7f7f7f;
    margin-bottom: 10px;
}

.billing-address-section p {
    font-size: 13px;
    color: #3c3c3c;
    margin-bottom: 10px;
}

.billing-address-section {
    margin-top: 50px;
}

.billing-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.billing-button button {
    font-size: 13px;
    font-weight: 500;
    color: #3c3c3c;
    width: 50%;
    border: 1px solid #afabab;
    border-radius: 3px;
    background-color: #ffc20e;
    padding: 6px 0;
}

.dataTables_filter input:focus-visible {
    outline: none;
}