/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/images/teacher/1693461463_786470__06.pdf
public/images/teacher/1693461463_735264__01.jpg
public/images/school/
public/images/signature/
public/images/teacher/
public/pdfs/
